@charset "UTF-8";

#conteiner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgb(194, 192, 192);
}
.menu-hamburguer{
    display: flex;
    align-items: center;
    height: 48px;
    order: 0;
}
.div-vazia{
    width: 48px;
    height: 48px;
}
.logo{
    width: 100px;
    order: 0;
    margin: 0 auto;
}
.lupa{
    height: 48px;
    order: 0;
}
button{
    background-color: transparent;
    border: none;
}
.carrinho-de-compra{
    display: flex;
    align-items: center;
    height: 48px;
    order: 2;
}
.ocultar-elemento{
    display: none;
}
.config-iguais{
    padding: 0px 12px;
    background-color: transparent;
    border: none;
}
.centralizador-items{
    display: flex;
    align-items: center;
}
.preencher{
    width: 40px;
    height: 100%;
}

.icones-cabecalho{
    display: flex;
    align-items: center;
    height: 100%;
}

.svg{
    width: 24px;
    height: 24px;
}
.header-div{
    display: none;
}



/* FIM DO CABEÇALHO TELA MOBILE */
/* -------------------------------------------------------- */

#conteiner-body{
    padding: 24px 16px 48px;
}
.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

}

.avatar-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.nome-perfil{
    text-align: center;
    padding: 0 16px;
}

.caixa-texto-estatico{
    font-size: 12px;
}
.caixa-texto-dinamico{
    font-size: 12px;
}
.menu-opcoes{
    padding: 20px 0;
}

.menu-opcoes li{
    padding: 4px 16px;
    list-style: none;
    color: red;
}

.cabecalho{
    border: 1px solid rgb(185, 185, 185);
    text-align: center;
    padding: 16px 0;
}

.espacamento-entre-campos{
    margin: 24px auto;
    padding: 24px 0 0 0;
    border-top: solid 1px rgb(185, 185, 185);
}

.uma-secao{
    max-width: 700px;
    padding: 24px 0 0 0;
    margin: 24px 0 0 0;
}


h1{
    font-size: 24px;
    font-weight: 900;
}
.cabecalho p{
    margin-top: 8px;
}



textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 